{{ define "browse" }}
<!doctype html>
<html lang="en">
{{ template "headHTML" "Browse" }}
  <body>
    {{ template "navBarHTML" . }}
    <div class="container-fluid">
      <div class="row">

        {{ template "sideNavHTML" . }}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Report {{ .id }}</h1><a href="/download/{{.id}}" target="_blank">Download</a>
          </div>

          <div class="row">{{ range $i, $report := .reports }}
            <div class="col-md-6">
              <h3>Step #{{ $i }}</h3>
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>Concurrency</th>
                    <th>URL</th>
                    <th>Throughput (rps)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ $report.C }}</td>
                    <td>{{ $report.URL }}</td>
                    <td>{{ $report.Rps }}</td>
                  </tr>
                </tbody>
              </table>
              <canvas class="my-4" width="900" height="350" id="loadChart_{{ $report.C }}"></canvas>
              <div class="row">
                <div class="col-md-6">
                  <h4>Status Codes</h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Status Code</th>
                        <th>Responses</th>
                      </tr>
                    </thead>
                    <tbody>{{ range $code, $num := $report.StatusCodeDist }}
                      <tr>
                        <td>{{ $code }}</td>
                        <td>{{ $num }}</td>
                      </tr>{{ end }}
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <h4>Errors</h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Total</th>
                        <th>Error</th>
                      </tr>
                    </thead>
                    <tbody>{{ range $err, $num := $report.ErrorDist }}
                      <tr>
                        <td>{{ $num }}</td>
                        <td>{{ $err }}</td>
                      </tr>{{ end }}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>{{ end }}
          </div>

          <h2>Details</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Conc.</th>
                  <th>Fastest</th>
                  <th>Slowest</th>
                  <th>Average</th>
                  <th>Connection</th>
                  <th>DNS</th>
                  <th>Request</th>
                  <th>Response</th>
                  <th>Delay</th>
                  <th>Rps</th>
                  <th>Num. responses</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>{{ range $k, $v := .reports }}
                <tr>
                  <td>{{ $k }}</td>
                  <td>{{ $v.C }}</td>
                  <td>{{ formatLatency $v.Fastest }}</td>
                  <td>{{ formatLatency $v.Slowest }}</td>
                  <td>{{ formatLatency $v.Average }}</td>
                  <td>{{ formatLatency $v.AvgConn }}</td>
                  <td>{{ formatLatency $v.AvgDNS }}</td>
                  <td>{{ formatLatency $v.AvgReq }}</td>
                  <td>{{ formatLatency $v.AvgRes }}</td>
                  <td>{{ formatLatency $v.AvgDelay }}</td>
                  <td>{{ printf "%4.3f" $v.Rps }} rps</td>
                  <td>{{ $v.NumRes }}</td>
                  <td>{{ $v.Total.String }}</td>
                </tr>{{ end }}
              </tbody>
            </table>
          </div>

          {{ if ne (len .reports) 0 }}
          <h2>Latency distribution</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Conc.</th>{{ range (index .reports 0).LatencyDistribution }}
                  <th>{{ .Percentage }}%</th>{{ end }}
                </tr>
              </thead>
              <tbody>{{ range $k, $v := .reports }}
                <tr>
                  <td>{{ $k }}</td>
                  <td>{{ $v.C }}</td>{{ range $v.LatencyDistribution }}
                  <td>{{ formatLatency .Latency }}</td>{{ end }}
                </tr>{{ end }}
              </tbody>
            </table>
          </div>
          {{ end }}
        </main>
      </div>
    </div>

    {{ template "footerJSHTML" . }}

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      {{ range .reports }}
      new Chart(document.getElementById("loadChart_{{ .C }}"), {
        type: 'bar',
        data: {
          datasets: [{
            label: 'PDF',
            data: [{{ range $k, $v := .PDF.Values }}{{ if ne $k 0 }},{{ end }}{{ $v }}{{ end }}],
            backgroundColor: 'rgba(0, 0, 250, 0.1)',
            borderColor: 'rgba(0, 0, 250, 0.1)'
          }, {
            label: 'CDF',
            data: [{{ range $k, $v := .CDF.Values }}{{ if ne $k 0 }},{{ end }}{{ $v }}{{ end }}],
            type: 'line',
            backgroundColor: 'rgba(0,250, 0, 0.1)',
            borderColor: 'rgba(0,250, 0, 0.1)'
          }],
          labels: [{{ range $k, $v := .PDF.Labels }}{{ if ne $k 0 }},{{ end }}'{{ $v.String }}'{{ end }}]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                max: 1.0,
              }
            }]
          },
          title: {
            display: true,
            text: '{{ .URL }}, C = {{ .C }}, RPS = {{ .Rps }} rps'
          }
        }
      });{{ end }}
    </script>
  </body>
</html>
{{ end }}