{{ define "index" }}
<!doctype html>
<html lang="en">
{{ template "headHTML" "Dashboard" }}
  <body>
    {{ template "navBarHTML" . }}
    <div class="container-fluid">
      <div class="row">

        {{ template "sideNavHTML" . }}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">New Load Test</h1>
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <form class="col-md-12" action="/test" method="post" role="form">
              <div class="row">
                  <div class="col form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name of the test">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-10 form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control form-control-lg" id="url" name="url" aria-describedby="urlHelp" placeholder="http://example.com/endpoint">
                    <small id="urlHelp" class="form-text text-muted">Enter the URL you want to test.</small>
                  </div>
                  <div class="col-md-2 form-group">
                    <label for="req_method">Method</label>
                    <select class="form-control form-control-lg" id="req_method" name="req_method" >
                      <option>GET</option>
                      <option>POST</option>
                      <option>HEAD</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                <div class="col form-group">
                    <label for="min">Min Concurrency</label>
                    <input type="number" class="form-control" id="min" name="min" value="1">
                </div>
                <div class="col form-group">
                    <label for="max">Max Concurrency</label>
                    <input type="number" class="form-control" id="max" name="max" value="150">
                </div>
                <div class="col form-group">
                    <label for="steps">Step Size</label>
                    <input type="number" class="form-control" id="steps" name="steps" value="15">
                </div>
                <div class="col form-group">
                    <label for="duration">Max duration (s)</label>
                    <input type="number" class="form-control" id="duration" name="duration" value="10">
                </div>
                <div class="col form-group">
                    <label for="sleep">Sleep (s)</label>
                    <input type="number" class="form-control" id="sleep" name="sleep" value="15">
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <label for="headers">Headers</label>
                  <small id="headersHelp" class="form-text text-muted">Enter the list of headers to send, one per line.</small>
                  <textarea class="form-control" id="headers" name="headers" aria-describedby="headersHelp" rows="10"></textarea>
                </div>
                <div class="col form-group">
                  <label for="body">Body</label>
                  <small id="bodyHelp" class="form-text text-muted">Enter the body to send with your request.</small>
                  <textarea class="form-control" id="body" name="body" rows="10" aria-describedby="bodyHelp"></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </main>
      </div>
    </div>

    {{ template "footerJSHTML" . }}

  </body>
</html>
{{ end }}
