{{define "sideNavHTML"}}
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="crosshair"></span>
                  New Load Test <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
            </h6>
            <ul class="nav flex-column mb-2">{{ range .keys }}
              <li class="nav-item">
                <a class="nav-link" href="/browse/{{.}}">
                  <span data-feather="file-text"></span>
                  {{ . }}
                </a>
              </li>{{ end }}
            </ul>
          </div>
        </nav>
{{end}}
